<!-- Views/Quiz/Quiz.cshtml -->
@model WebQuizApp.Models.QuizViewModel
<h1>Quiz</h1>
@if(Model!=null && Model.TriviaQuestions!=null)
{
<div>
    <h2>Time Remaining: <span id="timer"></span></h2>
    <form id="quiz-form" asp-controller="TriviaQuiz" asp-action="Result" method="post">
        @for (int i = 0; i < Model.TriviaQuestions.Count; i++)
        {
            <div>
                <p>@Model.TriviaQuestions[i].Question</p>
                @foreach (var answer in Model.TriviaQuestions[i].Incorrect_Answers)
                {
                    <input type="radio" name="userAnswers[@i]" value="@answer" required /> @answer

                    <br />
                }
                <input type="radio" name="userAnswers[@i]" value="@Model.TriviaQuestions[i].Correct_Answer" required /> @Model.TriviaQuestions[i].Correct_Answer<br />
            </div>
        }
            @* Hidden fields to ensure the questions are passed back to the controller *@
            @for (int i = 0; i < Model.TriviaQuestions.Count; i++)
            {
                <input type="hidden" name="TriviaQuestions[@i].Question" value="@Model.TriviaQuestions[i].Question" />
                <input type="hidden" name="TriviaQuestions[@i].Correct_Answer" value="@Model.TriviaQuestions[i].Correct_Answer" />
                @for (int j = 0; j < Model.TriviaQuestions[i].Incorrect_Answers.Count; j++)
                {
                    <input type="hidden" name="Questions[@i].Incorrect_Answers[@j]" value="@Model.TriviaQuestions[i].Incorrect_Answers[j]" />
                }
            }
        <input type="submit" value="Submit"/>
    </form>
</div>
}
else
{
    <p>No questions available. Please try again later.</p>
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const countdownTime = @ViewBag.Countdown * 60; // Convert minutes to seconds
        const timerDisplay = document.getElementById('timer');
        let timeRemaining = countdownTime;

        const intervalId = setInterval(() => {
            const minutes = Math.floor(timeRemaining / 60);
            const seconds = timeRemaining % 60;
            timerDisplay.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;

            if (timeRemaining > 0) {
                timeRemaining--;
            } else {
                clearInterval(intervalId);
                document.getElementById('quiz-form').submit();
            }
        }, 1000);
    });
</script>
